<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        width: 600px;
        height: 800px;
        margin: 100px auto 0;
        border: 1px solid black;
        overflow-y: auto;
      }
      .box {
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        background-color: gray;
        transform: translateY(10px);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!-- <audio url="http://localhost:9527/audio.mp3" controls preload></audio> -->
      <!-- http://localhost:3000/WYC/%E6%AF%95%E4%B8%9A%E7%85%A7/2023%E5%B1%8A%E6%AF%95%E4%B8%9A%E7%85%A7/IMG_6095.MOV -->
      <!-- <video
      src="http://localhost:9527/WYC/%E6%AF%95%E4%B8%9A%E7%85%A7/2023%E5%B1%8A%E6%AF%95%E4%B8%9A%E7%85%A7/IMG_6095.MOV"
      controls width="100%" height="100%"-->
      <table class="dic-table" v-if="dictoryArr.length > 1">
        <colgroup>
          <col width="100%" />
        </colgroup>
        <tbody>
          <tr
            v-for="(item, index) in dictoryArr"
            :key="index"
            class="dic-table-row"
            @click="getDictoryList(item)"
          >
            <td>
              <img
                src="/src/assets/fileType/directory.svg"
                alt=""
                width="25px"
                height="25px"
                class="file-pic"
              />
              <span class="filename">{{ item }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
