// 修改一些默认的配置（比如样式前缀）
@forward 'element-plus/theme-chalk/src/mixins/config.scss' with (
  $namespace: 'ep'
);

// 定义新的样式来覆盖默认样式
// @forward 'element-plus/theme-chalk/src/common/var.scss' with (
//   $colors: $--colors,
//   $button-padding-horizontal: ('default': 50px)
// );

// if you want to import all
// @use 'element-plus/theme-chalk/src/index.scss' as *;

// You can comment it to hide debug info.
// @debug $--colors;

// custom dark variables
// @use './dark.scss';
